@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700;1,800&display=swap');

* {

    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Shared Section */
.brand-color {
    color: #FF5400;
}
.common-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.banner-description {}

/* Nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1.13rem;
}

nav li a {
    text-decoration: none;
    color: #424247;
}

.brand-title {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
}

.home-size {
    font-weight: 700;
}

header {
    padding: 50px 135px;
}

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group13.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 1170px;
    height: 500px; */
}

.banner-content {
    text-align: center;
    color: #FFF;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
    padding-bottom: 24px;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 247px;
    margin-bottom: 48px;
}

input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
   
}

.input-section {
    display: inline-flex;
    padding: 16px;
    /* align-items: flex-start; */
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

::placeholder {
    padding-left: 16px;
  }

  main{
    margin: 0 135px;
  }

/* popular section */

.popular-tour{
    display: flex;
    justify-content: space-between;
}



}
@media screen and (max-width: 576px) {
  
  header {
    padding: 30px;
}
nav,
nav ul,
.input-section {
    flex-direction: column;
}
.banner-title{
    font-size: 1.5rem;
}
.banner-description{
    font-size: 1rem;
    margin:auto
}
}
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px 80px;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 1rem;
        margin:auto
    }
    input {
        width: 115px;
        height: 40px;
}